
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    .row {
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(auto-fill, 1fr);
    }
}

.card {
    height: 200px;
    width: 200px;
    background-image: url('../images/memory-bg.jpg');

    &.active {
        border: 2px solid black;
    }
}