body {
    margin: 0;
}

h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3rem;
}

#wrapper {

    .row { 
        display: flex;
        justify-content: center;
    
        .card{
            background-color: transparent;
            width: 9rem;
            height: 9rem;
            border: 1px solid #f1f1f1;
            perspective: 1000px;
            margin: 5px;
            transform: rotateY(180deg);

            .card-inner {
                position: relative;
                width: 100%;
                height: 100%;
                transition: all 0.8s ease;
                transform-style: preserve-3d;

                .card-front {
                    background-image: url(../images/memory-bg.jpg);
                    object-fit: cover;
                    background-position: center;
                    pointer-events: none;
                }

                .card-back {
                    transform: rotateY(180deg);
                }

                .card-front, .card-back {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

// Cardflip animation
.card-inner.card-flip {
    transform: rotateY(180deg);
}

// Right and Wrong counter
.counter {
    width: auto;
    background-color: grey;
    display: flex;
    justify-content: center;
    margin: 1rem 0;

    h2 {
        margin: auto;
        vertical-align: middle;
    }

    #right,
    #wrong{
        display: flex;
        flex-direction: row;
        margin: .5rem 5rem;
        font-size: 2rem;
        background-color: red;
        border-radius: 2rem;
        padding: 1rem;

        p {
            font-size: 2.5rem;
            margin: auto;
        }
    }
}

// Gameover screen after finishing the game
#background { 
    background-color: rgba($color: #000000, $alpha: .4);
    position: absolute;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    font-family: 'Black Ops One', cursive;
    color: white;

    #container {
        height: 100%;
        vertical-align: middle;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 4px 4px #000;
        animation-duration: .4s;
        animation-name: animatetop;
        display: none;

        @keyframes animatetop {
            from {top: -300px; opacity: 0}
            to {top: 0; opacity: 1}
        }

        #highscore {
            display: flex;
            flex-direction: row;

            h1 {
                width: 100%;
                font-size: 6rem;
            }
        }

        .game_over {
            font-size: 9rem;
            height: auto;
            text-transform: uppercase;
            background-color: red;
            border-radius: 10%;

            .continue {
                margin-top: 5rem;
            }
        
            p {
                margin: 0;
                height: 7.5rem;
            }
        }
    
        .continue {
            font-size: 3rem;
            font-family: corbel;
            font-weight: 600;
            margin-top: 5rem;
        }
    
        .choice {
            font-size: 2rem;
            width: 100%;
            font-family: corbel;
    
            .buttons {
                width: 40%;
                display: flex;
                padding: 5px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: auto;
    
                div {
                    height: 5rem;
                    width: 25rem;
                    line-height: 5rem;
                    margin: 1px;
                    font-weight: 600;
                    border-radius: 20px;
                }
        
                :first-child {
                    background-color: green;
                    text-shadow: 3px 3px #000;
                    border: 2px solid #000;
                }
                :last-child {
                    background-color: black;
                    text-shadow: 2px 2px #f00;
                    width: 100%;
                }
            }
        }
    }
}