h1 {
    text-align: center;
}

#wrapper {

    margin-top: 5rem;

    .row { 
        display: flex;
        justify-content: center;
    
        .card{
            background-color: transparent;
            width: 200px;
            height: 200px;
            border: 1px solid #f1f1f1;
            perspective: 1000px;
            margin: 5px;
            transform: rotateY(180deg);

            .card-inner {
                position: relative;
                width: 100%;
                height: 100%;
                transition: all 0.8s ease;
                transform-style: preserve-3d;

                .card-front {
                    background-image: url(../images/memory-bg.jpg);
                    object-fit: cover;
                    background-position: center;
                    pointer-events: none;
                }

                .card-back {
                    transform: rotateY(180deg);
                }

                .card-front, .card-back {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.card-inner.card-flip {
    transform: rotateY(180deg);
}

.counter {
    width: 15rem;
    height: 25rem;
    background-color: grey;
    position: absolute;
    top: 10rem;
    left: 10%;

    h2 {
        font-size: 3rem;
        display: inline-block;
        margin-bottom: 0;
    }

    #right,
    #wrong{

        p {
            height: 100%;
            background-color: red;
            width: 100%;
            font-size: 50px;
            margin: 35px auto auto 0px;
        }
    }
}
